<div class="data-table-container">

  <h2>Resultados</h2>

  <table class="data-table">

    <thead>
      <tr>
        <th>Região</th>
        <th>Espécies</th>
        <th>Status de Conservação</th>
        <th>Temperatura</th>
        <th>pH</th>
        <th>Nível de Poluição</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of rowData">
        <td>{{ item.regiao }}</td>
        <td>{{ item.especies }}</td>
        <td>{{ item.projetosConservacao }}</td>
        <td>{{ item.temperaturaAgua }}</td>
        <td>{{ item.pH }}</td>
        <td>{{ item.nivelPoluicao }}</td>
      </tr>
    </tbody>
    
  </table>

</div>
