<div class="data-table-container">
  
  <h2>Resultados</h2>

  <table class="data-table">
 
    <thead>
      <tr>
        <th>Região</th>
        <th>Espécies</th>
        <th>Status de Conservação</th>
        <th>Temperatura</th>
        <th>pH</th>
        <th>Nível de Poluição</th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let item of  rowData">
        <td>{{ item.regiao }}</td>
        <td><span *ngFor="let especie of item?.especies">{{ especie?.nome }}, </span></td>
        <td><span *ngFor="let projeto of item?.projetosConservacao">{{ projeto?.nomeProjeto }}, </span></td>
        <td>{{ item.temperaturaAgua }}</td>
        <td>{{ item.pH }}</td>
        <td>{{ item.nivelPoluicao }}</td>
      </tr>
    </tbody>
   
  </table>
</div>
